body {
  font-family: 'Montserrat', sans-serif;
}
.jumbotron {
  background: white;
  color: maroon;

}

header {
  text-align: center;
}

a {
  margin: 15px;
  color: maroon
}

a:hover {
  margin: 15px;
  text-decoration: none;
}

.page-header {
  font-family: monospace;
  font-weight: 700;
}
#flash{
  color: red;
  margin-top: 10px;
}

#button {
  background: maroon;
  border: 2px solid white;
}




