body {
  font-family: 'Montserrat', sans-serif;
}
.jumbotron {
  background: lightgrey;
  color: maroon;
}
#rdmsg{
  color: maroon;
}

header {
  text-align: center;
}

a {
  margin: 15px;
  color: maroon;
  text-decoration: underline;
}

a:hover {
  margin: 15px;
  text-decoration: none;
  background: white;
  color: grey;
}
.console-links{
  margin: 0px 50px 0px 50px;
}

.page-header {
  font-family: monospace;
  font-weight: 900;
}
#flash{
  color: maroon;
  margin-top: 10px;
  font-size: 1.2em;
}

.price {
  color: maroon;
}

#button {
  background: maroon;
  border: 2px solid white;
}

#order-text {
  color: maroon;
}

details {
  background: lightgrey;
  font-weight: bold;
}




