<center id="center">
  <h3 id="order-text"> CART </h3>

  <div id="cart">
    <h4>Total ({{gameCtrl.cart.length}} {{gameCtrl.cart.length === 1? "item" : "items"}}):</h4>
      <h4>{{gameCtrl.getCartTotal() | currency}}</h4>

    <div ng-repeat="orderItem in gameCtrl.cart">
      <h3>{{orderItem.product.name}}</h3>

          <div> <img ng-src={{orderItem.product.imageurl}}.jpg class="img-thumbnail" height="100" width="100">
          </div>


        <p>Price: {{orderItem.product.price | currency}}</p>
        <p>Quantity: {{orderItem.quantity}}</p>

      <div ng-if="authCtrl.user">
        <form ng-submit="gameCtrl.updateCart(gameCtrl.quantityAtCartIndex[$index],$index)">
          <label for="quantity">Quantity</label>
          <select name="quantity" ng-model="gameCtrl.quantityAtCartIndex[$index]">
            <option ng-repeat="num in [1,2,3,4,5,6,7,8,9,10]" value="{{num}}">{{num}}</option>
          </select>
          <input type='submit' id="button" value="Update Cart"><br>
        </form>
        <form ng-submit="gameCtrl.deleteFromCart($index)"><br>
          <input type="submit" id="button" value="Delete from cart">
        </form>
      </div>
    </div>



    <form ng-submit="gameCtrl.placeOrder(gameCtrl.cart,authCtrl.user)" ng-show="gameCtrl.cart.length">
      <input type="submit" id="button" value="Place Order">
    </form>
  </div>
</center>
