<form ng-submit="authCtrl.changePassword(password)" class="pure-form pure-form-aligned">
    <fieldset>
        <div class="pure-control-group">
            <label for="name">New password</label>
            <input ng-model="password.password" id="name" type="password" placeholder="password">
        </div>

        <div class="pure-control-group">
            <label for="password">Confirm Password</label>
            <input ng-model="password.passwordConfirm" id="password" type="password" placeholder="confirm password">
        </div>

        <div class="pure-controls">


            <button type="submit" class="pure-button pure-button-primary">Update Password!</button>
        </div>
    </fieldset>
</form>
