<form ng-submit="authCtrl.login(userInfo)" class="pure-form pure-form-aligned">
    <fieldset>
        <div class="pure-control-group">
            <label for="name">Username</label>
            <input ng-model="userInfo.username" id="name" type="text" placeholder="Username">
        </div>

        <div class="pure-control-group">
            <label for="password">Password</label>
            <input ng-model="userInfo.password" id="password" type="password" placeholder="Password">
        </div>

        <div class="pure-controls">


            <button type="submit" class="pure-button pure-button-primary">Submit</button>
        </div>
    </fieldset>
</form>
