<br>

<div class="container">

  <form ng-submit="authCtrl.signup(userInfo)">

    <div class="form-group">

    <center>
      <h4 id="signup">Create username and password</h4>
    </center>

    <div id="signup" class="row">
      <label for="username" class="col-sm-3 col-sm-offset-3">Username</label>
    </div>
    <div class="row bottom-margin">
      <div class="col-sm-5 col-sm-offset-3">
        <input id="input" ng-model="userInfo.username" required="true" type="username" class="form-control" placeholder="username">
      </div>
    </div>

    <div id="signup" class="row">
      <label for="password" class="col-sm-3 col-sm-offset-3">Password</label>
    </div>
    <div class="row bottom-margin">
      <div class="col-sm-5 col-sm-offset-3">
        <input id="input" ng-model="userInfo.password" required="true" type="password" class="form-control" placeholder="password">
      </div>
    </div><br><br>
    <center>
      <h4 id="signup">Billing Address</h4>
    </center>

    <div id="signup" class="row">
      <label for="firstname" class="col-sm-3 col-sm-offset-3">First Name</label>
    </div>
    <div class="row bottom-margin">
      <div class="col-sm-5 col-sm-offset-3">
        <input id="input" ng-model="userInfo.firstname" required="true" type="firstname" class="form-control" placeholder="firstname">
      </div>
    </div>

    <div id="signup" class="row">
      <label for="lastname" class="col-sm-3 col-sm-offset-3">Last Name</label>
    </div>
    <div class="row bottom-margin">
      <div class="col-sm-5 col-sm-offset-3">
        <input id="input" ng-model="userInfo.lastname" required="true" type="lastname" class="form-control" placeholder="lastname">
      </div>
    </div>

    <div id="signup" class="row">
      <label for="address" class="col-sm-3 col-sm-offset-3">Address</label>
    </div>
    <div class="row bottom-margin">
      <div class="col-sm-5 col-sm-offset-3">
        <input id="input" ng-model="userInfo.address" required="true" type="address" class="form-control" placeholder="address">
      </div>
    </div>

    <div id="signup" class="row">
      <label for="city" class="col-sm-3 col-sm-offset-3">City</label>
    </div>
    <div class="row bottom-margin">
      <div class="col-sm-5 col-sm-offset-3">
        <input id="input" ng-model="userInfo.city" required="true" type="city" class="form-control" placeholder="city">
      </div>
    </div>

    <div id="signup" class="row">
      <label for="state" class="col-sm-3 col-sm-offset-3">State</label>
    </div>
    <div class="row bottom-margin">
      <div class="col-sm-5 col-sm-offset-3">
        <input id="input" ng-model="userInfo.state" required="true" type="state" class="form-control" placeholder="state">
      </div>
    </div>

    <div id="signup" class="row">
      <label for="zipcode" class="col-sm-3 col-sm-offset-3">Zip/Postal</label>
    </div>
    <div class="row bottom-margin">
      <div class="col-sm-5 col-sm-offset-3">
        <input id="input" ng-model="userInfo.zipcode" required="true" type="zipcode" class="form-control" placeholder="zipcode">
      </div>
    </div>

    <div id="signup" class="row">
      <label for="phonenumber" class="col-sm-3 col-sm-offset-3">Phone Number</label>
    </div>
    <div class="row bottom-margin">
      <div class="col-sm-5 col-sm-offset-3">
        <input id="input" ng-model="userInfo.phonenumber" required="true" type="phonenumber" class="form-control" placeholder="phonenumber">
      </div>
    </div>

    <div id="signup" class="row">
      <label for="email" class="col-sm-3 col-sm-offset-3">Email</label>
    </div>
    <div class="row bottom-margin">
      <div class="col-sm-5 col-sm-offset-3">
        <input id="input" ng-model="userInfo.email" required="true" type="email" class="form-control" placeholder="email">
      </div>
    </div>

    <div id ="signup" class="row">
      <label for="creditcardnumber" class="col-sm-3 col-sm-offset-3">Credit Card Number</label>
    </div>
    <div class="row bottom-margin">
      <div class="col-sm-5 col-sm-offset-3">
        <input id="input" ng-model="userInfo.creditcardnumber" required="true" type="creditcardnumber" class="form-control" placeholder="creditcardnumber">
      </div>
    </div><br>

    <div id="signup" class="row">
      <div class="form-group">
        <div class="col-xs-offset-5">
          <button type="submit" id="button" class="btn btn-primary btn-lg">Sign Up!</button>
        </div>
      </div>
    </div>
  </form>

</div>
